.body-wrap {
    background-color: rgb(203, 249, 255);
    height: 100%;
}

#wrapper {
    position: relative;
}

.body-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    z-index: 1000;
    background-color: rgb(203, 249, 255);
    border-bottom: .5px solid #ffffff;
}

.body-header-content {
    font-size: 24px !important;
    text-align: left !important; 
}

.body-header-content img {
    width: 20px;
    margin-top: -3px;
}

.body-content {
    margin-top: 60px;
    height: 100%;
}